
  .patrom-tabs {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .patrom-tab {
    width: 100%;
    color: var(--text-color);
    overflow: hidden;
  }
  .patrom-tab-label {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--background-color);
    font-weight: bold;
    cursor: pointer;
  }
  .patrom-tab-label:hover {
    background: var(--background-highlight);
  }
  .patrom-tab-label::after {
    content: "❯";
    width: 10px;
    height: 10px;
    text-align: center;
    transition: all 0.35s;
  }
  .patrom-tab-content {
    max-height: 0;
    padding: 0 12px;
    color: var(--content-color);
    background-color: var(--background-content);
    border: 1px solid 1px solid rgb(105, 105, 105);
    transition: all 0.35s;

    /* body-background : #4b4d4e;
    background-color : #444949; */

  }
  .patrom-tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 0.75em;
    background: var(--background-color);
    cursor: pointer;
  }
  .patrom-tab-close:hover {
    background: var(--background-highlight);
  }
  
  input:checked + .patrom-tab-label {
    background: var(--background-highlight);
  }
  input:checked + .patrom-tab-label::after {
    transform: rotate(90deg);
  }
  input:checked ~ .patrom-tab-content {
    max-height: 100vh;
    padding: 12px;
  }
  