.button--quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.button--disabled,
.patrom-button:disabled,
.patrom-button--quiet:disabled,
.patrom-button--large:disabled,
.patrom-button--large--quiet:disabled,
.patrom-button--cta:disabled,
.patrom-button--large--cta:disabled,
.patrom-button-bar__button:disabled,
.patrom-button-bar__button--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.patrom-button,
.patrom-button--quiet,
.patrom-button--large,
.patrom-button--large--quiet,
.patrom-button--cta,
.patrom-button--large--cta,
.patrom-button-bar__button,
.patrom-button-bar__button--large {
  padding: 0 0.563rem;
  font-size: var(--font-size);
  line-height: 1.313rem;
  letter-spacing: 0;
  color: var(--content-color);
  /* text-shadow: 0 -1px var(--button-text-shadow); */
  vertical-align: top;
  background-color: var(--background-color);
  box-shadow: inset 0 1px var(--button-box-shadow);
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
}

.patrom-button:hover,
.patrom-button--quiet:hover,
.patrom-button--large:hover,
.patrom-button--large--quiet:hover,
.patrom-button-bar__button:hover,
.patrom-button-bar__button--large:hover {
  background-color: var(--background-color-hover);
  border-color: var(--color-active);
}

.patrom-button:focus,
.patrom-button--quiet:focus,
.patrom-button--quiet:hover:focus,
.patrom-button--large:focus,
.patrom-button--large--quiet:focus,
.patrom-button--large--quiet:hover:focus,
.patrom-button--cta:focus,
.patrom-button--large--cta:focus,
.patrom-button-bar__button:focus,
.patrom-button-bar__button--large:focus {
  border: 1px solid var(--border-blue);
  box-shadow: inset 0 1px var(--box-shadow), 0 0 0 2px var(--box-shadow-blue);
  outline: 0;
}

.patrom-button:active,
.patrom-button--large:active,
.patrom-button-bar__button:active,
.patrom-button-bar__button--large:active,
:checked + .patrom-button-bar__button {
  border: 1px solid var(--button-border-color);
  background-color: var(--button-background-color);
  box-shadow: inset 0 1px var(--button-background-shadow);
}

.patrom-button--quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.patrom-button--quiet:hover,
.patrom-button--large--quiet:hover {
  /* text-shadow: 0 -1px var(--button-text-shadow); */
  border: 1px solid var(--button-border-color);
  box-shadow: inset 0 1px var(--button-box-shadow);
}

.patrom-button--quiet:active,
.patrom-button--quiet:focus:active,
.patrom-button--large--quiet:active,
.patrom-button--large--quiet:focus:active {
  color: var(--content-color);
  /* text-shadow: 0 -1px var(--button-text-shadow); */
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  box-shadow: inset 0 1px var(--button-background-shadow);
}

.patrom-button--large,
.patrom-button--large--quiet,
.patrom-button-bar__button--large {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.688rem;
  padding: 0 0.875rem;
}

.patrom-button--large--quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.patrom-button--cta,
.patrom-button--large--cta {
  border: 1px solid var(--button-border-color-cta);
  background-color: var(--background-color-cta);
  box-shadow: inset 0 1px var(--box-shadow);
  color: var(--text-color);
  font-weight: 500;
  /* text-shadow: 0 -1px var(--text-shadow); */
}

.patrom-button--cta:hover,
.patrom-button--large--cta:hover {
  background-color: var(--background-color-cta-hover);
}

.patrom-button--cta:active,
.patrom-button--large--cta:active {
  background-color: var(--background-color-cta-active);
  box-shadow: inset 0 1px var(box-shadow-active);
}

.patrom-button--large--cta {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.688rem;
  padding: 0 0.875rem;
}


.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.button--quiet {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

.button--disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.patrom-button--cta,
.patrom-button--large--cta {
  border: 1px solid var(--button-border-color-cta);
  background-color: var(--background-color-cta);
  box-shadow: inset 0 1px var(--box-shadow);
  color: var(--text-color);
  font-weight: 500;
  /* text-shadow: 0 -1px var(--text-shadow); */
}

.patrom-button--cta:hover,
.patrom-button--large--cta:hover {
  background-color: var(--background-color-cta-hover);
}

.patrom-button--cta:active,
.patrom-button--large--cta:active {
  background-color: var(--background-color-cta-active);
  box-shadow: inset 0 1px var(box-shadow-active);
}



.patrom-button--primary {
  background-color: var(--primary);
}
.patrom-button--primary:hover, .patrom-button--primary:focus {
  background-color: var(--primary-focus);
}
.patrom-button--primary:active, .patrom-button--primary.patrom-button--is-active {
  background-color: var(--primary-active);
}

.patrom-button--secondary {
  background-color: var(--secondary);
}
.patrom-button--secondary:hover, .patrom-button--secondary:focus {
  background-color: var(--secondary-focus);
}
.patrom-button--secondary:active, .patrom-button--secondary.patrom-button--is-active {
  background-color: var(--secondary-active);
}

.patrom-button--success {
  background-color: var(--success);
}
.patrom-button--success:hover, .patrom-button--success:focus {
  background-color: var(--success-hover);
}
.patrom-button--success:active, .patrom-button--success.patrom-button--is-active {
  background-color: var(--success-active);
}

.patrom-button--warning {
  background-color: var(--warning);
}
.patrom-button--warning:hover, .patrom-button--warning:focus {
  background-color: var(--warning-hover);
}
.patrom-button--warning:active, .patrom-button--warning.patrom-button--is-active {
  background-color: var(--warning-active);
}

.patrom-button--danger {
  background-color: var(--danger);
}
.patrom-button--danger:hover, .patrom-button--danger:focus {
  background-color: var(--danger-hover);
}
.patrom-button--danger:active, .patrom-button--danger.patrom-button--is-active {
  background-color: var(--danger-active);
}

.patrom-button--outline {
  background-color: transparent;
  border-color: currentColor;
}

.patrom-button--outline-primary {
  color: var(--primary);
}
.patrom-button--outline-primary:hover, .patrom-button--outline-primary:focus {
  background-color: rgba(46, 160, 235, 0.1);
}
.patrom-button--outline-primary:active, .patrom-button--outline-primary.patrom-button--is-active {
  background-color: rgba(46, 160, 235, 0.2);
}

.patrom-button--outline-secondary {
  color: #777;
}
.patrom-button--outline-secondary:hover, .patrom-button--outline-secondary:focus {
  /* background-color: rgba(119, 119, 119, 0.1); */
}
.patrom-button--outline-secondary:active, .patrom-button--outline-secondary.patrom-button--is-active {
  /* background-color: rgba(119, 119, 119, 0.2); */
}

.patrom-button--outline-success {
  color: var(--success);
}
.patrom-button--outline-success:hover, .patrom-button--outline-success:focus {
  background-color: rgba(137, 208, 133, 0.1);
}
.patrom-button--outline-success:active, .patrom-button--outline-success.patrom-button--is-active {
  background-color: rgba(137, 208, 133, 0.2);
}

.patrom-button--outline-warning {
  color: var(--warning);
}
.patrom-button--outline-warning:hover, .patrom-button--outline-warning:focus {
  background-color: rgba(242, 154, 78, 0.1);
}
.patrom-button--outline-warning:active, .patrom-button--outline-warning.patrom-button--is-active {
  background-color: rgba(242, 154, 78, 0.2);
}

.patrom-button--outline-danger {
  color: var(--danger);
}
.patrom-button--outline-danger:hover, .patrom-button--outline-danger:focus {
  background-color: rgba(250, 87, 87, 0.1);
}
.patrom-button--outline-danger:active, .patrom-button--outline-danger.patrom-button--is-active {
  background-color: rgba(250, 87, 87, 0.2);
}

.patrom-button--clear {
  background-color: transparent;
  cursor: pointer;
}
.patrom-button--clear:hover, .patrom-button--clear:focus {
  text-decoration: underline;
}

.patrom-button--clear-primary {
  color: var(--primary);
}
.patrom-button--clear-primary:hover, .patrom-button--clear-primary:focus {
  color: var(--primary-focus);
}
.patrom-button--clear-primary:active, .patrom-button--clear-primary.patrom-button--is-active {
  color: var(--primary-active);
}

.patrom-button--clear-secondary {
  color: var(--secondary);
}
.patrom-button--clear-secondary:hover, .patrom-button--clear-secondary:focus {
  color: var(--secondary-focus);
}
.patrom-button--clear-secondary:active, .patrom-button--clear-secondary.patrom-button--is-active {
  color: var(--secondary-active);
}

.patrom-button--clear-success {
  color: var(--success);
}
.patrom-button--clear-success:hover, .patrom-button--clear-success:focus {
  color: var(--success-hover);
}
.patrom-button--clear-success:active, .patrom-button--clear-success.patrom-button--is-active {
  color: var(--success-active);
}

.patrom-button--clear-warning {
  color: var(--warning);
}
.patrom-button--clear-warning:hover, .patrom-button--clear-warning:focus {
  color: var(--warning-hover);
}
.patrom-button--clear-warning:active, .patrom-button--clear-warning.patrom-button--is-active {
  color: var(--warning-active);
}

.patrom-button--clear-danger {
  color: var(--danger);
}
.patrom-button--clear-danger:hover, .patrom-button--clear-danger:focus {
  color: var(--danger-hover);
}
.patrom-button--clear-danger:active, .patrom-button--clear-danger.patrom-button--is-active {
  color: var(--danger-active);
}

.patrom-button:disabled,
.patrom-button--is-disabled {
  background-color: transparent;

  opacity: 0.65;
  pointer-events: none;
}
