.patrom-button,
.patrom-button-bar__button {
  vertical-align: middle;
  cursor: pointer;
  /* color: var(--content-color); */
  color: var(--content-color);
  background-color: var(--background-color);
  border: solid 2px var(--button-border);
  border-radius: 4px;
  text-decoration: none;
}


.button-quiet {
  background: transparent;
  border: 1px solid transparent;
}

.button-xs {
  padding: 1px 2px;
  font-size: 0.6rem;
}
.button-sm {
  padding: 2px 3px;
  font-size: 0.8rem;
}
.button-lg {
  padding: 4px 6px;
  font-size: 1.2rem;
}

.button-big {
  padding: 6px 8px;
  font-size: 1.4rem;
}

.patrom-button:hover,
.patrom-button-bar__button:hover {
  background-color:rgba(0, 0, 0, 0.2);
  border-color: var(--button-hover); 
}

.patrom-button:focus,
.patrom-button-bar__button:focus {
  border-color: var(--border-focus);
  background-color:rgba(0, 0, 0, 0.2);
}

.patrom-button:active,
.patrom-button-bar__button:active,
:checked + .patrom-button-bar__button {
  border-color: var(--btn-gray-border);
  background-color: var(--btn-gray-active-background);
}

.patrom-button--gray {
  color: var(--btn-gray-color);
  background-color: var(--btn-gray-background);
}

.patrom-button--primary {
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-background);
}

.patrom-button--info {
  color: var(--btn-info-color);
  background-color: var(--btn-info-background);
}

.patrom-button--gray:active, .patrom-button--gray.patrom-button--is-active {
  background-color: var(--btn-gray-active-background);
}

.patrom-button--info:active, .patrom-button--info.patrom-button--is-active {
  background-color: var(--btn-info-active-background);
}

.patrom-button--success {
  color: var(--btn-success-color);
  background-color: var(--btn-success-background);
}

.patrom-button--success:active, .patrom-button--success.patrom-button--is-active {
  background-color: var(--btn-success-active-background);
}

.patrom-button--warning {
  color: var(--btn-warning-color);
  background-color: var(--btn-warning-background);
}

.patrom-button--warning:active, .patrom-button--warning.patrom-button--is-active {
  background-color: var(--btn-danger-active-background);
}

.patrom-button--danger {
  color: var(--btn-danger-color);
  background-color: var(--btn-danger-background);
}

.patrom-button--danger:active, .patrom-button--danger.patrom-button--is-active {
  background-color: var(--btn-danger-active-background);
}

.patrom-button:disabled  {
  background-color: transparent;
  opacity: 0.65;
  pointer-events: none;
}

.patrom-button--gray:disabled {
  color: var(--btn-gray-background);
  background-color: transparent;
}
.patrom-button--primary:disabled {
  color: var(--btn-primary-background);
  background-color: transparent;
}
.patrom-button--info:disabled {
  color: var(--btn-info-background);
  background-color: transparent;
}
.patrom-button--success:disabled {
  color: var(--btn-success-background);
  background-color: transparent;
}
.patrom-button--warning:disabled {
  color: var(--btn-warning-background);
  background-color: transparent;
}
.patrom-button--danger:disabled {
  color: var(--btn-danger-background);
  background-color: transparent;
}