input[type="checkbox"] {
  background: var(--input-background);
  color: var(--text-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

input[type=checkbox].orderby:after {
  content: "";
}

input[type=checkbox].orderby:checked:after {
  content: "";
}

.patrom-multi-select input[type=checkbox]:after {
  content: "\00a0\00a0";
}

.checked input[type=checkbox]:checked:after {
  content: "✔";
  color: var(--btn-success-active-background);
}

.orderby input[type=checkbox][order="asc"]:checked:after {
  content: "↓";
  color: var(--btn-success-active-background);
}

.orderby input[type=checkbox][order="desc"]:checked:after {
  content: "↑";
  color: var(--btn-danger-active-background);
}

input[type=checkbox]:disabled+label {
  background: var(--background-color-disabled);
  opacity: 1;
  cursor: not-allowed;
}



/* Customize the label (the patrom-checkbox) */
.patrom-checkbox-labeled {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 14px;
  cursor: pointer;
  font-size: var(--font-size);
  user-select: none;
}

.patrom-checkbox-no-labeled {
  position: relative;
  cursor: pointer;
}

/* Hide the browser's gray checkbox */
.patrom-checkbox-no-labeled input,
.patrom-checkbox-labeled input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  background: var(--background-color);
  border: 1px solid var(--btn-gray-border);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 4px;
  height: var(--font-size);
  width: var(--font-size);
  /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
.patrom-checkbox-no-labeled:hover input ~ .checkmark,
.patrom-checkbox-labeled:hover input ~ .checkmark {
  background-color: transparent;  
  border: 1px solid var(--border-focus);
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.patrom-checkbox-no-labeled input:checked ~ .checkmark:after,
.patrom-checkbox-labeled input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.patrom-checkbox-no-labeled .checkmark:after,
.patrom-checkbox-labeled .checkmark:after {
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* When the checkbox is checked, add a blue background */
.patrom-checkbox-no-labeled input:checked ~ .checkmark,
.patrom-checkbox-labeled input:checked ~ .checkmark {
  background-color: var(--background-color);
}

.patrom-checkbox-no-labeled input:checked ~ .checkmark:after,
.patrom-checkbox-labeled input:checked ~ .checkmark:after {
  border: solid var(--content-color);
  border-width: 0 3px 3px 0;
}

.patrom-checkbox-no-labeled input.gray:checked ~ .checkmark:after,
.patrom-checkbox-labeled input.gray:checked ~ .checkmark:after {
  border: solid var(--btn-gray-background);
  border-width: 0 3px 3px 0;
}
.patrom-checkbox-no-labeled input.primary:checked ~ .checkmark:after,
.patrom-checkbox-labeled input.primary:checked ~ .checkmark:after {
  border: solid var(--btn-primary-background);
  border-width: 0 3px 3px 0;
}
.patrom-checkbox-no-labeled input.info:checked ~ .checkmark:after,
.patrom-checkbox-labeled input.info:checked ~ .checkmark:after {
  border: solid var(--btn-info-background);
  border-width: 0 3px 3px 0;
}
.patrom-checkbox-no-labeled input.success:checked ~ .checkmark:after,
.patrom-checkbox-labeled input.success:checked ~ .checkmark:after {
  border: solid var(--btn-success-background);
  border-width: 0 3px 3px 0;
}
.patrom-checkbox-no-labeled input.warning:checked ~ .checkmark:after,
.patrom-checkbox-labeled input.warning:checked ~ .checkmark:after {
  border: solid var(--btn-warning-background);
  border-width: 0 3px 3px 0;
}

.patrom-checkbox-no-labeled input.danger:checked ~ .checkmark:after,
.patrom-checkbox-labeled input.danger:checked ~ .checkmark:after {
  border: solid var(--btn-danger-background);
  border-width: 0 3px 3px 0;
}
