
.patrom-icon-button,
.patrom-icon-button--quiet {
  padding: 0 0.25rem;
  line-height: 1.313rem;
  letter-spacing: 0;
  color: var(--content-color);
  vertical-align: baseline;
  background-color: var(--background-color);
  border: 1px solid var(--btn-gray-border);
  border-radius: 4px;
}

.patrom-icon-button:hover,
.patrom-icon-button--quiet:hover{
  background-color: var(--background-color-hover);
}

.patrom-icon-button:focus,
.patrom-icon-button--quiet:focus,
.patrom-icon-button--quiet:hover:focus {
  border: 1px solid var(--border-focus);
  outline: 0;
}

.patrom-icon-button:active {
  border: 1px solid var(--btn-gray-border);
  background-color: var(--btn-gray-background);
}

.patrom-icon-button--quiet {
  background: transparent;
  border: 1px solid transparent;
}

.patrom-icon-button--quiet:hover {
  border: 1px solid var(--btn-gray-border);
}

.patrom-icon-button--quiet:active,
.patrom-icon-button--quiet:focus:active {
  color: var(--content-color);
  background-color: var(--btn-gray-background);
  border: 1px solid var(--btn-gray-border);
}

.patrom-icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 0.81406rem;
  height: 0.81406rem;
  vertical-align: middle;
  top: -1px;
}
