.input,
.patrom-text-input,
.patrom-text-input--large {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
}

.input:disabled,
.patrom-text-input:disabled,
.patrom-text-input--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.patrom-text-input,
.patrom-text-input--large {
  line-height: 1.313rem;
  font-size: var(--font-size);
  letter-spacing: 0;
  padding: 0 0.563rem;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  background-color: var(--input-background);
  box-shadow: inset 0 1px var(--button-background-shadow);
  color: var(--content-color);
  vertical-align: top;
}

.patrom-text-input:focus,
.patrom-text-input--large:focus {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-blue);
  box-shadow: 0 0 0 2px var(--box-shadow-blue);
}

.patrom-text-input:disabled::-webkit-input-placeholder {
  color: var(--text-color);
}

.patrom-text-input:disabled::-moz-placeholder {
  color: var(--text-color);
}

.patrom-text-input:disabled:-ms-input-placeholder {
  color: var(--text-color);
}

.patrom-text-input:invalid {
  border: 1px solid var(--invalid-colour);
}

.patrom-text-input--large {
  line-height: 1.688rem;
  font-size: 0.875rem;
}

.patrom-text-input--large:disabled {
  color: var(--text-color);
}

.patrom-text-input--large:disabled::-webkit-input-placeholder {
  color: var(--text-color);
}

.patrom-text-input--large:disabled::-moz-placeholder {
  color: var(--text-color);
}

.patrom-text-input--large:disabled:-ms-input-placeholder {
  color: var(--text-color);
}

.patrom-text-input--large:invalid {
  border: 1px solid var(--invalid-colour);
}
