.input,
.patrom-text-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
}

.input:disabled,
.patrom-text-input:disabled {
  opacity: 0.3;
  cursor: gray;
  pointer-events: none;
}

.patrom-text-input {
  line-height: 1.313rem;
  font-size: var(--font-size);
  letter-spacing: 0;
  padding: 0 0.563rem;
  border: 1px solid var(--btn-gray-border);
  border-radius: 4px;
  background-color: var(--input-background);
  color: var(--content-color);
  vertical-align: top;
}

.patrom-text-input:focus {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-focus);
}

.patrom-text-input:disabled::-webkit-input-placeholder {
  color: var(--text-color);
}

.patrom-text-input:disabled::-moz-placeholder {
  color: var(--text-color);
}

.patrom-text-input:disabled:-ms-input-placeholder {
  color: var(--text-color);
}

.patrom-text-input:invalid {
  border: 1px solid var(--invalid-colour);
}
