
.patrom-multi-select-container {
  display: inline-block;
}

.patrom-multi-select li .buttonPipo-all {
  font-size: var(--font-size-2);
  vertical-align: top;

  /* height:  var(--font-size-half); */
  color: var(--btn-success-active-background);
}
.patrom-multi-select li .buttonPipo-none {
  font-size: var(--font-size-2);
  vertical-align: top;

  /* height:  var(--font-size-half); */
  color: var(--btn-danger-active-background);
}
.patrom-multi-select-container .patrom-multi-select {
  border: 1px solid var(--select-border-top);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 240;
}
.patrom-multi-select li:hover, .patrom-multi-select li:focus{
  color: var(--color-active);
}
.patrom-multi-select li.active{
  background-color: var(--input-background);
}
.patrom-multi-select li{
  padding-left: 3px;
  background-color: var(--input-background);
  cursor: pointer;
}
.patrom-multi-select-container textarea{
  resize: none;
  padding-left: 2px;
  padding-top: 2px;
  overflow: auto;
}
.patrom-multi-select-container .patrom-multi-select{
  max-height: 200px;
  overflow: auto;
  background-color: var(--input-background);
  display: grid;
  text-align: left;
}
.patrom-multi-select label{
  display: block;
  margin-bottom: 1px;
}
.patrom-multi-select-container .logger .selectedLabels {
  /* padding: 1px 6px 1px 6px; */
  background: var(--input-background);
  border: 1px solid var(--select-border-top); 
  border-radius: 25px;
  display: inline-block;
  font-size: var(--font-size-2);
}
.patrom-multi-select-container .closeBtn {
  padding-left: 2px;
  font-size: var(--font-size-half);
  vertical-align: top;
  cursor: pointer;
  color: #ff6060;
}
.patrom-multi-select-container .closeBtn.readOnly {
  cursor: unset;
}
.patrom-multi-select-container .hidden {
  display: none !important;
}
.patrom-multi-select .searchbox {
  padding: 0;
  margin: 0;
  height: 1.063rem;
  font-size: var(--font-size);
}
.patrom-multi-select-container .logger {
  border: 1px solid var(--select-border-top); 
  display: inherit;
  cursor: pointer;
  padding: 1px;
  overflow-y: auto;
}
.patrom-multi-select-container .patrom-multi-select.offdropdown {
  position: unset;
}
