  .search-input,
  .patrom-search-input,
  .patrom-search-input--large {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    box-sizing: border-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
  }
  

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .search-input:disabled,
  .patrom-search-input:disabled,
  .patrom-search-input--large:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
    
  .patrom-search-input,
  .patrom-search-input--large {
    line-height: 1.313rem;
    height: 1.313rem;
    font-size: 12px;
    border: 1px solid var(--button-border-color);
    background-color: var(--input-background);
    box-shadow: inset 0 1px 0 var(--input-shadow);
    color: var(--content-color);
    padding: 0 0 0 2.2rem;
    border-radius: 15px;
    /* background-color:red; */
    background-image: url("img/search.png");
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 14px;
  }
  
  .patrom-search-input:focus,
  .patrom-search-input--large:focus {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-blue);
    box-shadow: inset 0 1px 0 var(--input-shadow), 0 0 0 2px var(--box-shadow-blue);
  }
  
  .patrom-search-input::-webkit-search-cancel-button,
  .patrom-search-input::-webkit-search-decoration,
  .patrom-search-input--large::-webkit-search-cancel-button,
  .patrom-search-input--large::-webkit-search-decoration {
    margin-right: 5px;
  }
  
  .patrom-search-input:focus::-webkit-input-placeholder,
  .patrom-search-input:focus::-webkit-input-placeholder {
    color: var(--content-color);
  }
  
  .patrom-search-input:disabled::-webkit-input-placeholder {
    color: var(--text-color);
  }
  
  .patrom-search-input:disabled::-moz-placeholder {
    color: var(--text-color);
  }
  
  .patrom-search-input:disabled:-ms-input-placeholder {
    color: var(--text-color);
  }
  
  .patrom-search-input--large {
    line-height: 1.688rem;
    height: 1.688rem;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0 0 0 2.4rem;
    border-radius: 25px;
    background-position: 1.2rem center;
    background-size: 16px;
  }
  
  .patrom-search-input--large:disabled {
    color: #454545;
  }
  
  .patrom-search-input--large:disabled::-webkit-input-placeholder {
    color: #454545;
  }
  
  .patrom-search-input--large:disabled::-moz-placeholder {
    color: #454545;
  }
  
  .patrom-search-input--large:disabled:-ms-input-placeholder {
    color: #454545;
  }