.patrom-select {
    background: var(--input-background);
    font-size: var(--font-size-2);
    background-image: none;
    border:1px solid var(--select-border-top); 
    color: var(--text-color);
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }