.patrom-select {
    border-radius: 3px;
    background: var(--input-background);
    background-image: none;
    box-shadow: 0 0 0 1px var(--select-box-shadow);
    border:2px solid var(--select-border-top); 
    color: var(--text-color);
    overflow: hidden;
    /* font-size: var(--font-size); */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 7px; */
  }