
  .patrom-splitter-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }
  
  #primary, #pane1 {
      flex: 0 1 auto;
      overflow: auto;
  }
  #secondary, #pane2 { 
      flex: 1 1 0;
      overflow: auto;
  }
  #secondary {
      height:auto;
  }
  .patrom-splitter {
    display:block;
    width: 5px;
    height:auto;
    background: var(--background-color-cta);
    cursor: col-resize;
    margin: 0 3px;
  }
  .patrom-splitter:focus {
    /* background: linear-gradient(0.25turn,  lightgray,lightSkyBlue,lightgray); */
    background: var(--input-background);
  }
  .patrom-splitter[data-orientation="horizontal"] {
    cursor: row-resize;
    width: auto;
    height: 5px;
  }

