.switch,
.patrom-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
}

.switch__input,
.patrom-switch__input {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
}

.switch__toggle,
.patrom-switch__toggle, 
.patrom-switch__theme {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  border: none;
  cursor: gray;
  user-select: none;
}

.switch__toggle:before,
.switch__toggle:after,
.switch__theme:before,
.switch__theme:after,
.patrom-switch__toggle:before,
.patrom-switch__toggle:after ,
.patrom-switch__theme:before,
.patrom-switch__theme:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.switch--disabled,
.patrom-switch__input:disabled + .patrom-switch__toggle,
.patrom-switch__input:disabled + .patrom-switch__theme {
  opacity: 0.3;
  cursor: gray;
  pointer-events: none;
}

.patrom-switch {
  padding: 0 0.563rem;
  border-radius: 4px;
  border: 1px solid var(--btn-gray-border);
  overflow: hidden;
  width: 3.5rem;
}

.patrom-switch__toggle:before,
.patrom-switch__toggle:after,
.patrom-switch__theme:before,
.patrom-switch__ttheme:after {
  top: -1px;
  width: 2.6rem;
}

.patrom-switch__theme:before {
  content: 'Dark';
  /* color: var(--background-highlight); */
  background-color: var(--body-background);
  right: 0.8rem;
  padding-left: 0.75rem;
}

.patrom-switch__toggle:before {
  content: 'ON';
  background-color: var(--btn-success-background);
  right: 0.8rem;
  padding-left: 0.75rem;
}

.patrom-switch__theme,
.patrom-switch__toggle {
  line-height: 1.313rem;
  height: 1.313rem;
  width: 1rem;
  border-radius: 4px;
  background-color: var(--background-color);
  border: 1px solid var(--btn-gray-border);
  margin-left: -0.6rem;
  margin-bottom: -1px;
  margin-top: -1px;
  transition: margin-left 0.05s ease-in-out;
}

.patrom-switch__theme:after {
  content: 'Light';
  background-color: var(--body-backgroundd);
  left: 0.8rem;
  padding-left: 0.6rem;
}

.patrom-switch__toggle:after {
  content: 'OFF';
  background-color: var(--btn-danger-background);
  left: 0.8rem;
  padding-left: 0.6rem;
}

.patrom-switch__input:checked + .patrom-switch__theme,
.patrom-switch__input:checked + .patrom-switch__toggle {
  margin-left: 1.85rem;
}

.patrom-switch__input:active + .patrom-switch__theme,
.patrom-switch__input:active + .patrom-switch__toggle {
  border: 1px solid var(--btn-gray-border);
}

.patrom-switch__input:focus + .patrom-switch__theme,
.patrom-switch__input:focus + .patrom-switch__toggle {
  border: 1px solid var(--border-focus);
}

.patrom-switch__input:disabled + .patrom-switch__toggle:after,
.patrom-switch__input:disabled + .patrom-switch__toggle:before,
.patrom-switch__input:disabled + .patrom-switch__theme:after,
.patrom-switch__input:disabled + .patrom-switch__theme:before {
  background: transparent;
}
