.button,
.patrom-tab-bar__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: gray;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

.button--quiet {
  background: transparent;
  border: 1px solid transparent;
}

.button--disabled,
.patrom-tab-bar__button:disabled {
  opacity: 0.3;
  cursor: gray;
  pointer-events: none;
}

.button-bar,
.patrom-tab-bar {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.button-bar__item,
.patrom-tab-bar__item {
  display: table-cell;
  width: auto;
  border-radius: 0;
}

.button-bar__item > input,
.patrom-tab-bar__item > input {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
}

.button-bar__button {
  border-radius: inherit;
}

.button-bar__item:disabled {
  opacity: 0.3;
  cursor: gray;
  pointer-events: none;
}

.patrom-tab-bar__button {
  padding: 0 0.563rem;
  height: 1.313rem;
  line-height: 1.313rem;
  letter-spacing: 0;
  color: var(--content-color);
  vertical-align: top;
  background-color: var(--background-color);
  border-top: 1px solid var(--btn-gray-border);
}

.patrom-tab-bar__button:active,
:checked + .patrom-tab-bar__button {
  color: var(--background-highlight);
  background-color: var(--btn-gray-background);
}

.patrom-tab-bar__button:focus {
  z-index: 1;
  outline: 0;
}