html,body{
  margin:0;
  padding:0;
  height: 100%;
}

h1 {
  font-weight: 600;
}
#wrapper {
  width: 100%;
  overflow-x: hidden;
  background: inherit;
  position: relative;
}
#site {
  width: 100%;
  position: relative;
  z-index: 10;
  background: inherit;
  left: 0;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
#site:before{
  position: absolute;
  content: '';
  left: -4px;
  height: 100%;
  width: 4px;
  background: var(--background-body);
}
#site.open {
  transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
}
pre {
  font-family: source-code-pro, sans-serif;
  font-size: 14px;
}
/* Main Header */
#main-header {
  color: var(--text-color);
  background: var(--background-body);
  height: 98px;
  padding: 10px 20px;
  position: relative;
}
#main-header hgroup {
  text-align: center;
}
#main-header hgroup h1 {
  font-size: 40px;
  margin: 5px 0 0;
  letter-spacing: -.065em;
  line-height: 1.1em;
}
#main-header hgroup a {
  color: var(--text-color);
  text-decoration: none;
}
#main-header hgroup a:hover {
  color: #000;
}
#main-header hgroup p {
  font-size: 13px;
  color: #999;
  margin: 0;
}
#main-header nav {
  display: none;
}
#slide-menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  cursor: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.5rem;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #454545;
  vertical-align: baseline;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
}
#slide-menu:disabled,
#slide-menu.is-disabled {
  opacity: 0.3;
  cursor: gray;
  pointer-events: none;
}
#slide-menu-button:active,
#slide-menu-button.is-active {
  color: var(--text-color);
  background-color: #d3d7d7;
}

#download-btn {
  display: none;
}
/* Content */
#content {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
/* Code */
#content section.code {
  display: none;
  background: var(--text-color);
  padding: 15px;
  font-size: 12px;
  font-weight: 400;
}
article.component {
  padding: 0 0 10px;
}
#content section.code h3 {
  margin: 0;
  font-size: 12px;
  color: #000;
  font-weight: 400;
}
#content header h2 {
  font-weight: 300;
  margin: 10px 0 25px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}
body #content header h2 {
  background: var(--background-body);
}

#content header{
  position: relative;
}
#content header:before {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 23px;
}

#content pre {
  padding: 0;
  margin: 2px 0 10px;
}
.showcode {
  margin: 10px 0;
}
.showcode a, section.examples a {
  color: #288edf;
  text-decoration: none;
}
.showcode a:hover, section.examples a:hover {
  text-decoration: underline;
}
section.examples ul {
  margin: 0 0 20px;
  padding: 0 0 0 20px;
}
section.examples h4 {
  margin-bottom: 5px;
}
section.examples li {
  color: var(--text-color);
}
/* Side Nav */
#sideNav {
  background: var(--background-body);
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  left: 0;
}
#sideNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sideNav li a {
  color: var(--text-color);
  display: block;
  height: 22px;
  font-size: 16px;
  padding: 12px 0 0 20px;
  text-decoration: none;
}
#sideNav nav.site, #sideNav .combo {
  padding: 10px;
  display: block;
}

select.docNav {
  background: #595B5B;
  background-image: none;
  color: var(--text-color);
  overflow: hidden;
  font-size: 14px;
  padding: 20px;
}

  #site.open {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  #main-header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
  }
  #main-header ul {
    list-style: none;
  }
  #main-header nav li {
    display: inline-block;
    margin: 0 18px;
  }
  #main-header nav li#download-btn {
    display: none;
  }
  #main-header nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #7F7F7F;
  }
  #main-header nav li.selected a {
    color: #373435;
  } 
  #slide-menu-button{
    display: none;
  }
  #main-header hgroup {
    text-align: left;
    position: absolute;
    display: inline-block;
    top: 24px;
  }
  #main-header hgroup h1 {
    font-size: 60px;
  }
  #main-header hgroup p {
    font-size: 15px;
  }
  #main-header {
    color: #373435;
    background: var(--text-color);
    height: 148px;
  }
  #content {
    padding-left: 240px;
  }
  /* Side Nav */
  #sideNav {
    background: transparent;
    width: 220px;
    z-index: 20;
    left: 10px;
    top: 150px;
    height: auto;
  }
  #sideNav nav.site {
    display: none;
  }
  #sideNav .combo {
    padding: 36px 0;
  }
  #sideNav li a {
    padding: 12px 0 0 10px;
  }
  body.light #sideNav li a {
    color: #797B7B;
  }
  select.docNav {
    background: #595B5B;
    color: var(--text-color);
    padding: 3px 20px 4px 8px;
  }
  body.light select.docNav {
    background: #DDE1E1;
    color: #454545;
    width: 192px;
  }

  #content {
    padding-left: 300px;
  }
  #sideNav li a {
    display: block;
    padding: 12px 0 0 10px;
    text-decoration: none;
  }
  #content header h2 {
    font-size: 28px;
  }
  #content header:before {
    top: 30px;
  }
  section.code div {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    box-sizing: border-box;
  }
  section.code div:first-child {
    padding-right: 5px;
  }
  section.code div:last-child {
    padding-left: 5px;
  }
  .max-width {
    max-width: 1180px;
    position: relative;
    margin: 0 auto;
  }
  header#main-header .max-width {
    top: -10px;
  }
  #main-header nav li a {
    font-size: 22px;
  }
  #main-header nav {
    display: inline-block;
  }

  #main-header nav li {
    margin: 0 25px;
  }
  #main-header nav li:last-child {
    margin-right: 0;
  }

  #main-header nav li#download-btn {
    display: inline-block;
  }
  #main-header nav li a#download-btn{
    position:relative;
    top: -15px;
    display:inline-block;
    background-clip:padding-box;
    font:inherit;
    background:transparent;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size:16px;
    line-height:3rem;
    letter-spacing:1px;
    color:#454545;
    vertical-align:top;
    margin:0;
    padding:0 1.25rem;
  }
  #main-header nav li a#download-btn, #main-header nav li a#download-btn:hover {
    background-color:#288edf;
    color:var(--text-color);
    font-weight:500;
  }
  #main-header nav li a#download-btn:hover {
    background-color:#2f9cf3;
  }
  #main-header nav li a#download-btn:active, #main-header nav li a#download-btn.is-active {
    background-color:#0380e8;
  }
  #main-header nav li a#download-btn:disabled, #main-header nav li a#download-btn.is-disabled {
    opacity:.3;
    cursor:gray;
    pointer-events:none;
  }

  .boxGrid {
    background: #4979a0;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .splitterLeft {
    height: 200px;
    background-color: var(--btn-danger-active-background);
  }
  .splitterRight {
    height: 300px;
    background-color: var(--btn-warning-active-background);
  }
  .splitterHead {
    height: 150px;
    background-color: var(--btn-success-active-background);
  }

  .code {
    margin: 10px;
    padding: 0 2px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    background-color: var(--background-color);
    color: var(--content-color);
}
 
.code:hover {
  background-color:rgba(0, 0, 0, 0.2);
}

.code:after {
  content: "view this example code";
}

.patrom-table-container {
  max-width: 100em;
  max-height: 30em;
  overflow: scroll;
  position: relative;
}
